# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.xlsx

# Models
*.pkl
*.joblib

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env